{{!-- <h1>Search For A Location Through Google</h1>
<div id='formatted-address'>
  <ul class='list-group'>
  <li class='list-group-item'>
${response.data.results[0].formatted_address}
  </li>
  </ul>
</div>
<script>
  // Call geocode
  geocode()

  function geocode() {
    let location = '22 Main Street Boston MA'
    axios.get('https://maps.googleapis.com/maps/api/geocode/json?', {
        params: {
          address: location,
          key: 'AIzaSyAApNoltggbZiI7k5jW1d1Znj72D5MfAuk'
        }
      })
      .then(function(response) {
          // log full response
          console.log(response)
          // Formatted Address
          console.log(response.data.results[0].formatted_address)
          let formattedAddress = response.data.results[0].formatted_address
          // formattedAddress was undefined because you need this to go AFTER you define it
          document.querySelector('.list-group-item').innerHTML(formattedAddress)

        //Address Components
        let addressComponents = response.data.results[0].addressComponents
      })
      .catch(function(error) {
        console.log(error)
      })
  }
</script> --}}
