<div class="about-us">
   <div class="col-md-4">
  <h2>WHO IS WALDO?</h2>
  <div class="waldo-img">
  <img src="https://i.imgur.com/4wQkWa6.jpg?1">
  <p>Mr. Waldo, himself. 🐶</p>
  </div>
</div>
 <div class="col-md-4">
  <h2>WHAT IS BRING WALDO?</h2>
  <p>The web app uses user-input to compile a database of dog-friendly locations and categorize them – bars, coffee, parks and doggie stores – for other dog parents. User-input allows for unofficial and occasional dog-friendly zones as well as the officially designated places to be known and available.</p>
  <br>
</div>
 <div class="col-md-4">
  <h2>CONCEPT:</h2>
  <p>Bring Waldo. came about with my frustrations as well as conversations with other dog parent friends. The web app fills a need in the market – an easy way to find dog-friendly places.
  <br><br>Rather than calling ahead or finding out the hard way, people can use Bring Waldo. to easily know whether or not their furry bestie can come.</p>
  <br><br>
</div>
</div>
