<h1>List of Dog Friendly Locations:</h1>
<div class="locations">
{{#each model as |location|}}
<li>{{#link-to "location" location}}{{location.name}}{{/link-to}}
  {{#if location.editable}}
  <button class='btn-xs btn-secondary'{{action 'deleteLocation' location}}>Delete</button>
  {{/if}}
</li>
{{/each}}
</div>
