<div class="locations">
  <div class="col-md-8 list">
    <h3>User Generated <br>
      List of Dog Friendly Locations:</h3>
{{#each model as |location|}}
<li>{{#link-to "location" location}}{{location.name}}{{/link-to}}
  {{#if location.editable}}
  <button class='btn-xs btn-secondary'{{action 'deleteLocation' location}}>Delete</button>
  {{/if}}
</li>
{{/each}}
</div>
<div class="col-md-4 list">
<h3>Massachusetts Government Verified Dog-Parks:</h3>
<li>{{#link-to "map"}}View Verified List Here{{/link-to}}</li><br>
</div>
</div>
