<h1>Our List Of Doggie Friendly Locations</h1>
{{#each model as |location|}}
<li>{{#link-to "location" location}}{{location.name}}{{/link-to}}
  <button {{action 'deleteLocation' location}}>Delete</button></li>
{{/each}}
